<template name="_header">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo" title="template app">template app</a>
    <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      {{#if currentUser}}
        <li class="{{isActiveRoute regex='gears'}}"><a href="/gears" title="Gears"><i class="material-icons">settings_remote</i></a></li>
        <li class="{{isActiveRoute regex='accountsmenu'}}"><a href="/accountsmenu" title="Perfis Sociais"><i class="material-icons">person_pin</i></a></li>

        <li><a href="#" title="Postagens"><i class="material-icons">message</i></a></li>
        <li><a href="#" title="Contatos"><i class="material-icons">contacts</i></a></li>
        <li class="{{isActiveRoute regex='conta'}}"><a href="/conta" title="Conta"><i class="material-icons">perm_identity</i></a></li>
      {{else}}
        <li><a href="#" class="entrar" title="Entrar"><i class="material-icons">perm_identity</i></a></li>
      {{/if}}
    </ul>
    <ul class="side-nav" id="mobile-nav">
      {{#if currentUser}}
        <li class="{{isActiveRoute regex='gears'}}"><a href="/gears" title="Gears"><i class="material-icons">settings_remote</i></a></li>
        <li class="{{isActiveRoute regex='accountsmenu'}}"><a href="/accountsmenu" title="Perfis Sociais"><i class="material-icons">person_pin</i></a></li>

        <li><a href="#" title="Postagens"><i class="material-icons">message</i></a></li>
        <li><a href="#" title="Contatos"><i class="material-icons">contacts</i></a></li>
        <li class="{{isActiveRoute regex='conta'}}"><a href="/conta" title="Conta"><i class="material-icons">perm_identity</i></a></li>
      {{else}}
        <li><a href="#" class="entrar" title="Entrar"><i class="material-icons">perm_identity</i></a></li>
      {{/if}}
    </ul>
  </div>
</template>
